.button__icon {
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 0;
  outline: none;
  padding: 0;
  position: relative;
  color: #fff;
}

.button__icon :hover {
  color: #d4eaf6;
}

.button__icon.icon--search {
  margin-right: 20px;
  font-size: 25px;
}

.button__icon.icon--cart {
  margin-right: 10px;
  font-size: 25px;
}

.button__icon.icon--minus,
.button__icon.icon--plus {
  font-size: 18px;
  border-radius: 15%;
  border: 1px solid;
  padding: 2px;
  background-color: #3ea4df;
  border-color: #dfdfdf;
}

.button__icon.icon--delete {
  color: #3ea4df;
  font-size: 20px;
  padding: 2px;
}


.button__icon.icon--minimum {
  font-size: 18px;
  border-radius: 15%;
  border: 1px solid;
  padding: 2px;
  background-color: #3ea4df;
  border-color: #dfdfdf;
  opacity: 0.5;
  cursor: default;  
  pointer-events: none;


}

.icon__counter {
  overflow: hidden;
  position: absolute;  
  right: -12px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ca5452;
  color: #fff;
  line-height: 18px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  pointer-events: none;
}
