.supermarket__checkoutinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4px;  
}

.checkout__info.supermarket--name {
  color: #fff;  
  border: 0.15rem solid #35bc84;
  background-color: #35bc84;
  border-radius: 0.5rem;  
}

.checkout__info.supermarket--price {
  color: #0590e0;
  padding: 5px 0;
}

.checkout__info.supermarket--total {
  color: #278a61;
}

@media only screen and (max-width: 450px) {
  .checkout__info.supermarket--name {
    color: #fff;  
    border: 0.15rem solid #35bc84;
    background-color: #35bc84;
    border-radius: 0.5rem;
    height: 50px;
  }
}



