.product {
  padding-top: 70px;
  padding-bottom: 1.6rem;
}

.product__detail {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__content{
  width: 400px;
  display: flex;
  align-items: center;
}

.button__icon.icon--return {
  font-size: 40px;
  color: #3ea4df;
}

@media only screen and (max-width: 720px) {
  .product__detail {
    display: flex;    
    flex-direction: column;
  }

  .image__content{
    width: 350px;
    display: flex;
    align-items: center;
  }

  .button__icon.icon--return {
    font-size: 30px;
    color: #3ea4df;
  }
}

.product__content {
  padding: 5px;
}

.product__infos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__price{
  display: flex;  
  padding: 5px ;
}

.supermarket__prices{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.supermarket__text{  
  font-size: 18px;
  font-weight: bold;
  padding: 5px 5px;
  color: #6e6e6e;
}

.supermarket__info{
  font-size: 16px;
  font-weight: bold;
  padding: 2px 15px;
  color: #68b5e2;
}

.product__warning {
  font-size: 14px;
  padding: 5px 0;
  color: #ca5452;
}

.product__cart {
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
}

.product__cart:hover {
  border-color: #68b5e2;
  opacity: 0.6;
}

.product__add {
  display: flex;
  justify-content: center;
}

.product__cart {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 5px 0;
  font-size: 20px;
  padding: 2px 0;
  font-weight: 700;
  background-color: #0590e0;
  border-color: #0590e0;
  color: #fff;
  
}

